

.header-el {
    display: inline;
    color: blue;
    font-size: 25px;
    margin: 10px;
}

.whole-header {
    padding: 5px;
    height: 40px;
    background: #D9EEFF;
    border-bottom: 2px grey solid;
    /*display: flex;
    justify-content: space-between*/;

}

a:visited {
    color: #666666;
    background: #D9EEFF;
    border-radius: 3px;

}

a:link {
    background: #D9EEFF;
    color: black;
    border-radius: 3px;

}

.all-users-page {
    height: 100%;
    display: flex;
    border-radius: 10px;
    margin: 5px;
    align-items: flex-start;



}

.user-div {
    margin: 5px;
    background: #E1E1E1;

}

.users-list {
    background: #E1E1E1;
    display: inline;
    width: 40%


}

.posts-div {
    background: #E1E1E1;
    width: 60%




}

