.chatbox {
    width: 250px;

    border: 1px black solid;
    background: #EEFBFF;
    border-radius: 4px;
    margin: 10px;
}

.input {
    margin: 10px;
}

.my-message {
    background: silver;
    text-align: right;
}

.heading {
    text-align: center;
}